<nav>
  <div class="site-title">
    <a href="/"><h1>BOISX4</h1></a>
    <p>SE Project Blog</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create" style="display: none;">New Blogs</a></li>
  </ul>
</nav>