<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>


  <div class="about content">
    <h1>About us</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur adipisci modi vel quam perspiciatis maxime. Suscipit sit dicta obcaecati veritatis repellat nulla at eveniet iure! Hic facilis eaque numquam accusantium!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, inventore qui? Iusto, maiores architecto impedit, dicta quod consequatur amet laudantium in possimus sunt nihil mollitia alias quae! Sit, dolorem nemo?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, corporis porro voluptatibus blanditiis ducimus veniam eos dicta hic numquam delectus ullam? Unde natus cupiditate odit saepe eveniet recusandae at porro.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum iste aliquid velit, facere magni voluptatum optio enim adipisci! Repellendus ratione excepturi similique veritatis minus perferendis rem explicabo, quos maxime soluta.</p>
  </div>

  <%- include('./partials/footer.ejs') %>

</body>
</html>