<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>


  <div class="about content">
    <h1>About us</h1>
    <h2>We are the BOISX4</h2>
    <ul>
      <li>Gurram Dhanush   - AM.EN.U4CSE18321</li>
      <li>Mohammed Sharook - AM.EN.U4CSE18324</li>
      <li>B Jeethendra     - AM.EN.U4CSE18508</li>
      <li>P S Karthik      - AM.EN.U4CSE18509</li>
    </ul>
  </div>

  <%- include('./partials/footer.ejs') %>

</body>
</html>